In [13]:
from sqlalchemy import create_engine
import pandas as pd
from snowflake.sqlalchemy import URL

engine = create_engine(
    'snowflake://{user}:{password}@{account}/d'.format(
        user='ESTPEGION',
        password='SnowFlake1234!',
        account='mg61873.ca-central-1.aws',
        database = 'KPMG',
        schema = 'public',
        warehouse = 'COMPUTE_WH',
        role='accountadmin',
        numpy = True
    )
)

connection = engine.connect()
results = connection.execute('select current_version()').fetchone()
print(results[0])

import pandas as pd
pd.read_sql_query('''USE SCHEMA SNOWFLAKE_SAMPLE_DATA.TPCDS_SF10TCL;''',engine)
# finally:
#     connection.close()
#     engine.dispose()

7.8.1

                             status
0  Statement executed successfully.

In [19]:
pd.read_sql_query('''USE SCHEMA SNOWFLAKE_SAMPLE_DATA.TPCDS_SF10TCL;''',engine)

                             status
0  Statement executed successfully.

In [5]:
# url = f'snowflake://ESTPEGION:SnowFlake1234!@mg61873.ca-central-1.aws/KPMG/public?warehouse=testwh&role=myrole'

In [7]:
# test if connection works
pd.read_sql_query('select * from WEB_SALES limit 100',engine)

,ws_sold_date_sk,ws_sold_time_sk,ws_ship_date_sk,ws_item_sk,ws_bill_customer_sk,ws_bill_cdemo_sk,ws_bill_hdemo_sk,ws_bill_addr_sk,ws_ship_customer_sk,ws_ship_cdemo_sk,...,ws_ext_wholesale_cost,ws_ext_list_price,ws_ext_tax,ws_coupon_amt,ws_ext_ship_cost,ws_net_paid,ws_net_paid_inc_tax,ws_net_paid_inc_ship,ws_net_paid_inc_ship_tax,ws_net_profit
0,2451864,3080,2451926,204037,28943167,84819,5671,19067770,176566,1860296,...,1287.90,3322.65,90.37,0.00,1395.45,1129.65,1220.02,2525.10,2615.47,-158.25
1,2451864,16316,2451884,204037,42194195,1281028,2261,20123941,49297995,731471,...,4211.42,5768.88,29.42,0.00,1499.84,2942.06,2971.48,4441.90,4471.32,-1269.36
2,2451864,64808,2451976,204037,46206237,848560,483,15232406,29858941,1275759,...,270.00,653.25,22.40,0.00,97.75,320.00,342.40,417.75,440.15,50.00
3,2451864,62886,2451932,204037,51872342,1216561,5227,28697446,60184827,1626059,...,1945.84,3755.44,1.49,0.00,938.86,74.88,76.37,1013.74,1015.23,-1870.96
4,2451864,67631,2451907,204037,9690277,1477980,83,3716586,56015598,489627,...,321.44,700.70,18.18,0.00,245.00,454.72,472.90,699.72,717.90,133.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2451864,39861,2451977,204043,8407156,759616,2829,24457689,18592231,122427,...,572.88,1139.82,43.06,0.00,79.53,478.50,521.56,558.03,601.09,-94.38
96,2451864,48547,2451937,204043,11127150,422653,909,1695965,34417011,163961,...,652.34,1434.94,24.10,0.00,28.60,803.40,827.50,832.00,856.10,151.06
97,2451864,19581,2451918,204043,9559403,1661858,4760,21308015,59106576,281159,...,1613.48,4436.88,0.00,0.00,1197.76,177.46,177.46,1375.22,1375.22,-1436.02
98,2451864,54038,2451868,204043,33619702,441748,6994,6967793,23535502,265135,...,270.72,695.60,14.73,0.00,132.07,368.48,383.21,500.55,515.28,97.76
99,2451864,20589,2451946,204043,64401776,1384304,1232,18251760,64401776,1384304,...,9012.96,9823.77,50.56,2144.97,3241.26,1685.34,1735.90,4926.60,4977.16,-7327.62

In [3]:
q60_c = pd.read_sql_query('select DISTINCT I_category from item limit 100',engine)

# Variable_Store_Json

In [20]:
#YEAR.01 corresponding to d_year of date_dim

pd.read_sql_query('''SELECT DISTINCT d_year FROM date_dim;''', engine)

     d_year
0      1900
1      1901
2      1902
3      1903
4      1904
..      ...
196    2057
197    2064
198    2071
199    2082
200    2049

[201 rows x 1 columns]

In [7]:
#STATE.01 corresponding to s_state in store

q1_state = pd.read_sql_query('''SELECT DISTINCT s_state FROM store;''', engine)

In [15]:
list(q1_state.values.T[0]).

['TN',
 'NM',
 'KY',
 'IA',
 'NC',
 'OH',
 'GA',
 'IN',
 'AL',
 'SC',
 'MD',
 'LA',
 'SD',
 'MI',
 'FL',
 'WV',
 'VT',
 'TX',
 'MT',
 'CA',
 'NJ',
 'CO',
 'OK',
 'IL',
 None,
 'NE',
 'OR',
 'NY',
 'MO',
 'WI',
 'VA',
 'PA',
 'WA',
 'KS',
 'MN']

In [5]:
list(q60_c.values.T[0])

['Sports',
 'Children',
 'Women',
 None,
 'Home',
 'Electronics',
 'Jewelry',
 'Men',
 'Shoes',
 'Music',
 'Books']

In [6]:
#Add variable in json here!

import json
var_store = {}
var_store['q1_state'] = ['TN',
 'NM',
 'KY',
 'IA',
 'NC',
 'OH',
 'GA',
 'IN',
 'AL',
 'SC',
 'MD',
 'LA',
 'SD',
 'MI',
 'FL',
 'WV',
 'VT',
 'TX',
 'MT',
 'CA',
 'NJ',
 'CO',
 'OK',
 'IL',
 'None',
 'NE',
 'OR',
 'NY',
 'MO',
 'WI',
 'VA',
 'PA',
 'WA',
 'KS',
 'MN']



var_store['q1_agg'] = ['SR_RETURN_AMT','SR_RETURN_AMT_INC_TAX','SR_RETURN_QUANTITY','SR_RETURN_TAX','SR_RETURN_SHIP_COST']
var_store['q3_aggc']= ["ss_sold_date_sk","ss_sold_time_sk","ss_item_sk","ss_customer_sk","ss_cdemo_sk","ss_hdemo_sk","ss_addr_sk","ss_store_sk","ss_promo_sk","ss_ticket_number","ss_quantity","ss_wholesale_cost","ss_list_price","ss_sales_price","ss_ext_discount_amt","ss_ext_sales_price","ss_ext_wholesale_cost","ss_ext_list_price","ss_ext_tax","ss_coupon_amt","ss_net_paid","ss_net_paid_inc_tax","ss_net_profit"] 
var_store['q60_c'] = list(q60_c.values.T[0])
var_store

var_store_json = json.dumps(var_store,sort_keys=False,separators=(',', ': '))
# Writing to var_store.json
with open("var_store.json", "w") as outfile:
    outfile.write(var_store_json)

In [7]:
type(json.load(open('var_store.json'))['q1_state'])
type(json.load(open('var_store.json'))['q3_aggc'])
type(json.load(open('var_store.json'))['q60_c'])

list

## Adding a new feature into json file

In [ ]:
import json

In [ ]:
q40 = pd.read_sql_query('select DISTINCT I_category from item limit 100',engine)

In [10]:
 pd.read_sql_query('''SELECT w_state,
       i_item_id,
       sum(CASE
               WHEN (cast(d_date AS date) < CAST ('2000-03-11' AS date)) THEN cs_sales_price - coalesce(cr_refunded_cash,0)
               ELSE 0
           END) AS sales_before,
       sum(CASE
               WHEN (cast(d_date AS date) >= CAST ('2000-03-11' AS date)) THEN cs_sales_price - coalesce(cr_refunded_cash,0)
               ELSE 0
           END) AS sales_after
FROM catalog_sales
LEFT OUTER JOIN catalog_returns ON (cs_order_number = cr_order_number
                                    AND cs_item_sk = cr_item_sk) ,warehouse,
                                                                  item,
                                                                  date_dim
WHERE i_current_price BETWEEN 0.99 AND 1.49
  AND i_item_sk = cs_item_sk
  AND cs_warehouse_sk = w_warehouse_sk
  AND cs_sold_date_sk = d_date_sk
  AND d_date BETWEEN CAST ('2000-02-10' AS date) AND CAST ('2000-04-10' AS date)
GROUP BY w_state,
         i_item_id
ORDER BY w_state,
         i_item_id
LIMIT 1000;''',engine)

    w_state         i_item_id  sales_before  sales_after
0        CO  AAAAAAAAAAAACAAA      -4932.99     -6822.47
1        CO  AAAAAAAAAAADCAAA       2163.37      3797.53
2        CO  AAAAAAAAAAADFAAA     -10106.44     -1931.34
3        CO  AAAAAAAAAAAMEAAA       5457.73      1675.55
4        CO  AAAAAAAAAABADAAA      -1019.05     -3539.70
..      ...               ...           ...          ...
995      CO  AAAAAAAAAPOFDAAA      -4157.84      -587.78
996      CO  AAAAAAAAAPOKEAAA        476.11       728.79
997      CO  AAAAAAAAAPOLBAAA       1467.82     -3560.68
998      CO  AAAAAAAAAPOMAAAA      -2198.05      3905.91
999      CO  AAAAAAAAAPPCCAAA       1425.75      1956.43

[1000 rows x 4 columns]

In [21]:
pd.read_sql_query('select distinct d_date  from catalog_sales  limit 100 ',engine)

ProgrammingError: (snowflake.connector.errors.ProgrammingError) 000904 (42000): SQL compilation error: error line 1 at position 16
invalid identifier 'D_DATE'
[SQL: select distinct d_date  from catalog_sales  limit 100 ]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [23]:
pd.read_sql_query('select max(d_date), min(d_date)  from date_dim  limit 100 ',engine)

  MAX(D_DATE) MIN(D_DATE)
0  2100-01-01  1900-01-02

In [25]:
pd.read_sql_query('''select max(d_date), min(d_date)  from date_dim  where  d_date != '2100-01-01' ''',engine)

  MAX(D_DATE) MIN(D_DATE)
0  2099-12-31  1900-01-02

In [58]:
from datetime import date, timedelta
SALES_DATE = date(2000, 3, 11)

In [43]:
str(SALES_DATE)

'2000-03-11'

In [49]:
q40 = f'''SELECT w_state,
       i_item_id,
       sum(CASE
               WHEN (cast(d_date AS date) < CAST (\'{SALES_DATE}\' AS date)) THEN cs_sales_price - coalesce(cr_refunded_cash,0)
               ELSE 0
           END) AS sales_before,
       sum(CASE
               WHEN (cast(d_date AS date) >= CAST (\'{SALES_DATE}\' AS date)) THEN cs_sales_price - coalesce(cr_refunded_cash,0)
               ELSE 0
           END) AS sales_after
FROM catalog_sales
LEFT OUTER JOIN catalog_returns ON (cs_order_number = cr_order_number
                                    AND cs_item_sk = cr_item_sk) ,warehouse,
                                                                  item,
                                                                  date_dim
WHERE i_current_price BETWEEN 0.99 AND 1.49
  AND i_item_sk = cs_item_sk
  AND cs_warehouse_sk = w_warehouse_sk
  AND cs_sold_date_sk = d_date_sk
  AND d_date BETWEEN CAST (\'{SALES_DATE-timedelta(days=60)}\' AS date) AND CAST (\'{SALES_DATE+timedelta(days=60)}\' AS date)
GROUP BY w_state,
         i_item_id
ORDER BY w_state,
         i_item_id
LIMIT 100;

        '''

In [50]:
print(q40)

SELECT w_state,
       i_item_id,
       sum(CASE
               WHEN (cast(d_date AS date) < CAST ('2000-03-11' AS date)) THEN cs_sales_price - coalesce(cr_refunded_cash,0)
               ELSE 0
           END) AS sales_before,
       sum(CASE
               WHEN (cast(d_date AS date) >= CAST ('2000-03-11' AS date)) THEN cs_sales_price - coalesce(cr_refunded_cash,0)
               ELSE 0
           END) AS sales_after
FROM catalog_sales
LEFT OUTER JOIN catalog_returns ON (cs_order_number = cr_order_number
                                    AND cs_item_sk = cr_item_sk) ,warehouse,
                                                                  item,
                                                                  date_dim
WHERE i_current_price BETWEEN 0.99 AND 1.49
  AND i_item_sk = cs_item_sk
  AND cs_warehouse_sk = w_warehouse_sk
  AND cs_sold_date_sk = d_date_sk
  AND d_date BETWEEN CAST ('2000-01-11' AS date) AND CAST ('2000-05-10' AS date)
GROUP BY w_state,
         i_item_id
ORDER BY w_state,
         i_item_id
LIMIT 100;

In [51]:
pd.read_sql_query(q40,engine)

   w_state         i_item_id  sales_before  sales_after
0       CO  AAAAAAAAAAAACAAA      -7551.53     -3744.13
1       CO  AAAAAAAAAAADCAAA       3618.18      2069.04
2       CO  AAAAAAAAAAADFAAA     -13908.99      1701.06
3       CO  AAAAAAAAAAAMEAAA        256.04       535.31
4       CO  AAAAAAAAAABADAAA         11.24    -10430.48
..     ...               ...           ...          ...
95      CO  AAAAAAAAABCFAAAA      -3880.07      7196.06
96      CO  AAAAAAAAABCHEAAA       4999.17    -10645.58
97      CO  AAAAAAAAABCICAAA     -10687.52    -13317.41
98      CO  AAAAAAAAABCKAAAA        543.90      6280.66
99      CO  AAAAAAAAABCLDAAA       4242.74    -12036.42

[100 rows x 4 columns]

In [62]:
with open('src/05.txt', 'r') as file:
    data = file.read()

In [61]:
print(data.replace('2000-08-23', str(SALES_DATE)).replace('2000-09-06',str(SALES_DATE+timedelta(days=14))))

WITH ssr AS
  (SELECT s_store_id,
          sum(sales_price) AS sales,
          sum(profit) AS profit,
          sum(return_amt) AS returns_,
          sum(net_loss) AS profit_loss
   FROM
     (SELECT ss_store_sk AS store_sk,
             ss_sold_date_sk AS date_sk,
             ss_ext_sales_price AS sales_price,
             ss_net_profit AS profit,
             cast(0 AS decimal(7,2)) AS return_amt,
             cast(0 AS decimal(7,2)) AS net_loss
      FROM store_sales
      UNION ALL SELECT sr_store_sk AS store_sk,
                       sr_returned_date_sk AS date_sk,
                       cast(0 AS decimal(7,2)) AS sales_price,
                       cast(0 AS decimal(7,2)) AS profit,
                       sr_return_amt AS return_amt,
                       sr_net_loss AS net_loss
      FROM store_returns ) salesreturns,
        date_dim,
        store
   WHERE date_sk = d_date_sk
     AND d_date BETWEEN cast('2000-03-11' AS date) AND cast('2000-03-25' AS date)
     AND store_sk = s_store_sk
   GROUP BY s_store_id) ,
     csr AS
  (SELECT cp_catalog_page_id,
          sum(sales_price) AS sales,
          sum(profit) AS profit,
          sum(return_amt) AS returns_,
          sum(net_loss) AS profit_loss
   FROM
     (SELECT cs_catalog_page_sk AS page_sk,
             cs_sold_date_sk AS date_sk,
             cs_ext_sales_price AS sales_price,
             cs_net_profit AS profit,
             cast(0 AS decimal(7,2)) AS return_amt,
             cast(0 AS decimal(7,2)) AS net_loss
      FROM catalog_sales
      UNION ALL SELECT cr_catalog_page_sk AS page_sk,
                       cr_returned_date_sk AS date_sk,
                       cast(0 AS decimal(7,2)) AS sales_price,
                       cast(0 AS decimal(7,2)) AS profit,
                       cr_return_amount AS return_amt,
                       cr_net_loss AS net_loss
      FROM catalog_returns ) salesreturns,
        date_dim,
        catalog_page
   WHERE date_sk = d_date_sk
     AND d_date BETWEEN cast('2000-03-11' AS date) AND cast('2000-03-25' AS date)
     AND page_sk = cp_catalog_page_sk
   GROUP BY cp_catalog_page_id) ,
     wsr AS
  (SELECT web_site_id,
          sum(sales_price) AS sales,
          sum(profit) AS profit,
          sum(return_amt) AS returns_,
          sum(net_loss) AS profit_loss
   FROM
     (SELECT ws_web_site_sk AS wsr_web_site_sk,
             ws_sold_date_sk AS date_sk,
             ws_ext_sales_price AS sales_price,
             ws_net_profit AS profit,
             cast(0 AS decimal(7,2)) AS return_amt,
             cast(0 AS decimal(7,2)) AS net_loss
      FROM web_sales
      UNION ALL SELECT ws_web_site_sk AS wsr_web_site_sk,
                       wr_returned_date_sk AS date_sk,
                       cast(0 AS decimal(7,2)) AS sales_price,
                       cast(0 AS decimal(7,2)) AS profit,
                       wr_return_amt AS return_amt,
                       wr_net_loss AS net_loss
      FROM web_returns
      LEFT OUTER JOIN web_sales ON (wr_item_sk = ws_item_sk
                                    AND wr_order_number = ws_order_number) ) salesreturns,
        date_dim,
        web_site
   WHERE date_sk = d_date_sk
     AND d_date BETWEEN cast('2000-03-11' AS date) AND cast('2000-03-25' AS date)
     AND wsr_web_site_sk = web_site_sk
   GROUP BY web_site_id) ,
     results AS
  (SELECT channel ,
          id ,
          sum(sales) AS sales ,
          sum(returns_) AS returns_ ,
          sum(profit) AS profit
   FROM
     (SELECT 'store channel' AS channel ,
             concat('store', s_store_id) AS id ,
             sales ,
             returns_ ,
             (profit - profit_loss) AS profit
      FROM ssr
      UNION ALL SELECT 'catalog channel' AS channel ,
                       concat('catalog_page', cp_catalog_page_id) AS id ,
                       sales ,
                       returns_ ,
                       (profit - profit_loss) AS profit
      FROM csr
      UNION ALL SELECT 'web channel' AS channel ,
                       concat('web_site', web_site_id) AS id ,
                       sales ,
                       returns_ ,
                       (profit - profit_loss) AS profit
      FROM wsr ) x
   GROUP BY channel,
            id)
SELECT channel,
       id,
       sales,
       returns_,
       profit
FROM
  (SELECT channel,
          id,
          sales,
          returns_,
          profit
   FROM results
   UNION SELECT channel,
                NULL AS id,
                sum(sales),
                sum(returns_),
                sum(profit)
   FROM results
   GROUP BY channel
   UNION SELECT NULL AS channel,
                NULL AS id,
                sum(sales),
                sum(returns_),
                sum(profit)
   FROM results) foo
ORDER BY channel,
         id
LIMIT 100;

In [63]:
pd.read_sql_query(data,engine)

,channel,id,sales,returns_,profit
0,catalog channel,catalog_pageAAAAAAAAAAACAAAA,0.000000e+00,7286.22,-6578.74
1,catalog channel,catalog_pageAAAAAAAAAAAEAAAA,1.775306e+07,0.00,-1832039.58
2,catalog channel,catalog_pageAAAAAAAAAABCAAAA,0.000000e+00,15558.77,-7735.19
3,catalog channel,catalog_pageAAAAAAAAAABEAAAA,1.773628e+07,0.00,-1657177.14
4,catalog channel,catalog_pageAAAAAAAAAAFDAAAA,0.000000e+00,12941515.01,-7574101.98
...,...,...,...,...,...
95,catalog channel,catalog_pageAAAAAAAAAENDAAAA,0.000000e+00,411769.12,-246138.34
96,catalog channel,catalog_pageAAAAAAAAAEODAAAA,2.488216e+08,113546.65,-25695196.72
97,catalog channel,catalog_pageAAAAAAAAAEPBAAAA,0.000000e+00,493284.22,-291170.45
98,catalog channel,catalog_pageAAAAAAAAAEPDAAAA,2.499683e+08,169239.75,-23283008.49
99,catalog channel,catalog_pageAAAAAAAAAFACAAAA,0.000000e+00,7743.75,-4053.36