In [1]:
from sqlalchemy import create_engine
import pandas as pd
from snowflake.sqlalchemy import URL

engine = create_engine(
    'snowflake://{user}:{password}@{account}/d'.format(
        user='ESTPEGION',
        password='SnowFlake1234!',
        account='mg61873.ca-central-1.aws',
        database = 'KPMG',
        schema = 'public',
        warehouse = 'COMPUTE_WH',
        role='accountadmin',
        numpy = True
    )
)

connection = engine.connect()
results = connection.execute('select current_version()').fetchone()
print(results[0])

import pandas as pd
pd.read_sql_query('''USE SCHEMA SNOWFLAKE_SAMPLE_DATA.TPCDS_SF10TCL;''',engine)
# finally:
#     connection.close()
#     engine.dispose()

/var/folders/25/kzllfhts2433r2_czy33wbs00000gn/T/ipykernel_44815/2807436146.py:19: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  results = connection.execute('select current_version()').fetchone()

7.8.1

                             status
0  Statement executed successfully.

In [5]:
#Q4
pd.read_sql_query('select MIN(d_year), MAX(d_year) from date_dim',engine)

   MIN(D_YEAR)  MAX(D_YEAR)
0         1900         2100

In [6]:
#JSON CREATION

#Add variable in json here!

import json
var_store = {}
var_store['q1_state'] = ['TN',
 'NM',
 'KY',
 'IA',
 'NC',
 'OH',
 'GA',
 'IN',
 'AL',
 'SC',
 'MD',
 'LA',
 'SD',
 'MI',
 'FL',
 'WV',
 'VT',
 'TX',
 'MT',
 'CA',
 'NJ',
 'CO',
 'OK',
 'IL',
 'None',
 'NE',
 'OR',
 'NY',
 'MO',
 'WI',
 'VA',
 'PA',
 'WA',
 'KS',
 'MN']

q60_c = pd.read_sql_query('select DISTINCT I_category from item limit 100',engine)

q1_state = pd.read_sql_query('''SELECT DISTINCT s_state FROM store;''', engine)

q4_agg = ['PREFERRED_CUST_FLAG','SALUTATION','BIRTH_COUNTRY']


var_store['q1_agg'] = ['SR_RETURN_AMT','SR_RETURN_AMT_INC_TAX','SR_RETURN_QUANTITY','SR_RETURN_TAX','SR_RETURN_SHIP_COST']
var_store['q3_aggc']= ["ss_sold_date_sk","ss_sold_time_sk","ss_item_sk","ss_customer_sk","ss_cdemo_sk","ss_hdemo_sk","ss_addr_sk","ss_store_sk","ss_promo_sk","ss_ticket_number","ss_quantity","ss_wholesale_cost","ss_list_price","ss_sales_price","ss_ext_discount_amt","ss_ext_sales_price","ss_ext_wholesale_cost","ss_ext_list_price","ss_ext_tax","ss_coupon_amt","ss_net_paid","ss_net_paid_inc_tax","ss_net_profit"] 
var_store['q60_c'] = list(q60_c.values.T[0])
var_store['q4_agg'] = q4_agg

var_store

var_store_json = json.dumps(var_store,sort_keys=False,separators=(',', ': '))
# Writing to var_store.json
with open("var_store.json", "w") as outfile:
    outfile.write(var_store_json)

In [9]:
test = json.load(open('var_store.json'))

test['q4_agg']

['PREFERRED_CUST_FLAG', 'SALUTATION', 'BIRTH_COUNTRY']